html{

  scroll-behavior: smooth;

}

.top{
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

body{
  background-color: black;

}
div {
    color: white;
    text-align: justify;
    padding: 5%;
    font-size: larger;
    font-family:  "Garamond", "monospace";
  }


a{
    color:white;

    font-family:  "Garamond", "monospace";

}

a:link { text-decoration: underline; }

a:visited { text-decoration: none; }

a:active { text-decoration: underline overline; }
