div {
    text-align: justify;
    padding: 5%;
    font-size: larger;
    font-family:  "Garamond", monospace;
  }
a{
    color:black;
    text-decoration:underline ;
    font-family:  "Garamond", monospace;

}
